@import '/src/variables.module.scss';

.container {
    background: $background-dark;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 5px;
    color: whitesmoke;
}

.intro {
    color: $yellow-dark;
}
