@import '/src/variables.module.scss';

.container {
    background: $background-dark;
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 0 20px;
    color: whitesmoke;

    section:first-of-type {
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }
}

.intro {
    color: $yellow-dark;
    margin: 20px 0 30px 0;
}
