@import '../variables.module.scss';


.filterTextField {
    color: whitesmoke;

    div.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.MuiInputBase-adornedEnd {
        color: inherit;

        input {
            color: inherit;
        }
    }

    label {
        color: inherit;
    }
}

.ismTable {
    border-radius: 0;

    tr {
        &:hover {
            color: $yellow_dark !important;
        }

        background-color: #404040;
        
        &:nth-of-type(odd) {
            background-color: #303030;
        }


        td {
            background-color: inherit;
            color: inherit;
            border: none;
        }
    }

    thead {
        border-radius: unset;
        color: whitesmoke;
        border-radius: 0;

        tr {

            th {
                background-color: #101010;
                color: inherit;
                border-radius: 0;
                border: none;
            }
        }
    }

    .date {
        white-space: nowrap;
        word-break: keep-all;
    }
}

.loading {
    display: flex;
    flex: 1 1;
    justify-content: center;
    align-items: center;
}

.clearButton {
    color: #900000
}